.card {
  display: flex;
  height: 280px;
  width: 200px;
  background-color: #2b223f;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #00000044;
  margin-left: 50px;
  transition: 0.4s ease-out;
  position: relative;
  flex-wrap: wrap;
}

.card:not(:first-child) {
  margin-left: -50px;
}

.card:hover {
  transform: translateY(20px);
  transition: 0.4s ease-out;
  text-shadow: 2px 2px 8px #6e5b94;
}

.card:hover ~ .card {
  position: relative;
  left: 50px;
  transform: rotateX(-15deg) rotateY(10deg);
  transition: 0.4s ease-out;
}

.title-1 {
  color: #ffffff;
  font-size: 28px;
  font-weight: 800;
  position: absolute;
  left: 20px;
  top: 15px;
}

.btn {
  position: absolute;
  top: 255px;
  margin: 0 20px;
  width: 120px;
  height: 32px;
  border-radius: 8px;
  border: none;
  background-color: #080114;
  color: #fff;
  transition: 0.4s ease-out;
}



.btn:hover {
  transition: 0.4s ease-out;
  background-color: #000700;
  color: #ffffff;
  box-shadow: 0px 0px 20px rgba(236, 12, 12, 0.5),
    0px 5px 5px -1px #df121240,
    inset 4px 4px 8px rgba(241, 13, 5, 0.5),
    inset -4px -4px 8px rgba(216, 32, 19, 0.35);
}



.bar {
  position: relative;
  top: 32px;
  height: 5px;
  width: 100%;
  border: 25px;
}

.emptybar {
  background-color: #000000;
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: #ff5959;
  background: linear-gradient(90deg, #e72005ab, #f80101 100%);
  transition: 0.6s ease-out;
}

.card:hover .filledbar {
  width: 100%;
  transition: 0.4s ease-out;
}

.content {
  position: absolute;
  padding: 20px;
  top: 60px;
  color: #eae0fd;
  font-size: 0.7rem;
}

.stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}

.card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}
